<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ImportExport.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI.1;Data Source=YUVE;Integrated Security=SSPI;Initial Catalog=GMATClubTest"
            providerName="System.Data.OleDb" />
        <add name="ImportExport.Properties.Settings.GMATClubTestConnectionString"
            connectionString="Data Source=YUVE;Initial Catalog=GMATClubTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ImportExport.Properties.Settings.ConnectionString1"
            connectionString="Dsn=База данных MS Access" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>