<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccessControl.Properties.Settings.gmatConnectionString"
            connectionString="Data Source=SHARK\SQLEXPRESS;Initial Catalog=gmat;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>