<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>    
    <connectionStrings>
        <add name="ImportExport.Properties.Settings.GmatClubChallengeConnectionString"
            connectionString="Data Source=yuve;Initial Catalog=GmatClubChallenge;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>