<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Shop.Properties.Settings.GCString" connectionString="Data Source=SHARK\toothsql;Initial Catalog=GmatClubChallenge;Persist Security Info=True;User ID=re2085;Password=sys1157" />
        <add name="Shop.Properties.Settings.GmatClubChallengeConnectionString"
            connectionString="Data Source=SHARK\toothsql;Initial Catalog=GmatClubChallenge;Persist Security Info=True;User ID=re2085;Password=sys1157"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>