<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GmatClubTest.DbEditor.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI.1;Data Source=yuve;Integrated Security=SSPI;Initial Catalog=GmatClubTest"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>